
@font-face {
  font-family: 'HelveticaNeue';
  src: url('./fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./fonts/HelveticaNeueLTStd-Lt.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./fonts/HelveticaNeueLTStd-Md.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
